<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Appointment Requests</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">


	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("viewAppointmentRequestHCPApp", []);
			
			/**
			 * A filter to humanize the text to be more user friendly.
			 */
			 app.filter('humanize', function() {
				return function(input) {
					return !input ? input : input.toLowerCase().split('_')
						.map((word) => word.charAt(0).toUpperCase() + word.substring(1))
						.join(' ');
				}
            });

			app.controller('viewAppointmentRequestHCPCtrl', function ($scope, $http) {
				$scope.selectedAppointment = {};
				$scope.appointments = [];
				$scope.hcp = /*[[${#httpServletRequest.remoteUser}]]*/null;
				$scope.loadAppointments = function () {
					$http.get("/iTrust2/api/v1/appointmentrequestForHCP")
						.then(function (response) {
							$scope.appointments = response.data;
							if ($scope.appointments.length == 0) {
								$scope.errorMsg = "No appointment requests found."
							}
						});
				}

				$http.get("/iTrust2/api/v1/appointmentstatus")
					.then(function (response) {
						$scope.statuses = response.data;

						// Remove "PENDING", as that's the current status
						$scope.statuses.splice(0, 1);
					});

				$scope.incomingAppointments = [];
				$scope.loadIncomingAppointments = function () {
					$http.get("/iTrust2/api/v1/viewAppointments")
						.then(function (response) {
							$scope.incomingAppointments = response.data;
							if ($scope.incomingAppointments.length == 0) {
								$scope.errorMsg1 = "No appointment found.";
							} else {
								$scope.errorMsg1 = "";
							}
						});
				}

				$scope.appointmentByID = {};
				$scope.updateAppointment = function () {
					$scope.errorMsg = "";
					if ($scope.selectedAppointment.status == null) {
						$scope.errorMsg = "Could not update appointment as no status is selected\n";
					} else {
						$http.get("/iTrust2/api/v1/appointmentrequests/" + $scope.selectedAppointment.id)
							.then(function (response) {
								$scope.appointmentByID = response.data;

								$scope.selectedAppointment.patient = $scope.appointmentByID.patient.username;
								$scope.selectedAppointment.hcp = $scope.hcp;
								$scope.selectedAppointment.date = new Date($scope.appointmentByID.date).toISOString();
								$scope.selectedAppointment.type = $scope.appointmentByID.type;
								$scope.selectedAppointment.comments = $scope.appointmentByID.comments;
								$scope.selectedAppointment.id = $scope.appointmentByID.id;
								
								$http.put("/iTrust2/api/v1/appointmentrequests/" + $scope.selectedAppointment.id, $scope.selectedAppointment)
									.then(function (response) {
										$scope.message = "Appointment request was successfully updated"
										$scope.loadAppointments();
										$scope.selectedAppointment = {};
										$scope.loadIncomingAppointments();
									},
									function (rejection) {
										$scope.errorMsg = "Could not update appointment";
									});
							},
							function (rejection) {
								scope.errorMsg = "none";
							});
					}
				}

				$scope.loadAppointments();
				$scope.loadIncomingAppointments();
			});
			/*]]>*/
		</script>

		<div ng-app="viewAppointmentRequestHCPApp"
			ng-controller="viewAppointmentRequestHCPCtrl">
			<table style="width: 100%">
				<tr>
					<td style="vertical-align: top">
						<h3>Upcoming Medical Appointment</h3>
						<ul style="list-style: none;">
							<li ng-repeat="appt in incomingAppointments"><label>
									Type: {{appt.type | humanize}} <br /> Date: {{appt.date | date
									: 'MM/dd/yyyy'}} <br /> Time: {{appt.date | date :
									'shortTime'}} <br /> Patient: {{appt.patient.username}}
							</label></li>
						</ul>
						<div name="errorMsg1" class="text-danger">{{errorMsg1}}</div>
					</td>

					<td style="width: 40%; vertical-align: top">
						<h3>Update Medical Appointment Requests</h3>
						<div class="col radio-box">
							<div class="form-check">
								<ul style="list-style: none; padding: 0;">
									<li ng-repeat="appt in appointments"><span> <input
											type="radio" ng-model="selectedAppointment.id"
											name="appointment" id="appt{{appt.id}}" value="{{appt.id}}"
											required="true" /> <label for="appt{{appt.id}}"
											style="vertical-align: middle; padding-left: 10px; cursor: pointer;">
												Type: {{appt.type | humanize}} <br /> Date: {{appt.date |
												date : 'MM/dd/yyyy'}} <br /> Time: {{appt.date | date :
												'shortTime'}} <br /> Patient: {{appt.patient.username}}
										</label>
									</span></li>
								</ul>
							</div>

							<label for="changeStatus" ng-if="statuses && appointments.length">Change
								Status: <select name="changeStatus" id="changeStatus"
								ng-model="selectedAppointment.status">
									<option ng-repeat="status in statuses" value="{{status}}">{{status
										| humanize}}</option>
							</select>
							</label>

							<button class="btn btn-primary" ng-if="appointments.length > 0"
								ng-click="updateAppointment()" name="submit">Submit</button>

							<div name="success" class="text-success">{{message}}</div>
							<div name="errorMsg" class="text-danger">{{errorMsg}}</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>