<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::script})">
<title>Edit Prescriptions</title>
<script th:src="@{/resources/js/dateTimeService.js}"
	src="../resources/js/dateTimeService.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">


		<script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("prescriptionsApp", ['dateTimeServices']);

      app.controller('prescriptionsCtrl', function ($scope, $http, dateTimeService) {
        $scope.prescriptions = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/prescriptions").then(
            function (response) {
              $scope.prescriptions = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.prescriptions = [];
              $scope.message = "Could not display prescriptions";
            });
        }

        var checkValidPrescription = function (p) {
          var err = [];
          if (!p.drug) {
            err.push("Prescription must be associated with a drug");
          }
          if (!dateTimeService.isValidDate(p.startDate)) {
            err.push("Start date is in an invalid format");
          }
          if (!dateTimeService.isValidDate(p.endDate)) {
            err.push("End date is in an invalid format");
          }
          if (!/^\+?\d+$/.test(p.dosage)) {
            err.push("Dosage must be a positive integer");
          }
          if (!/^\+?\d+$/.test(p.renewals)) {
            err.push("Renewals must be an integer zero or more");
          }
          if (!p.patient) {
            err.push("Prescription must be associated with a patient");
          }

          return err.join(". ");
        }

        $scope.addPrescription = function () {
          var err = checkValidPrescription($scope.prescription);
          if (err) {
            $scope.errorAdding = err;
            return;
          } 
          
          // Format dates to ISO format for sending
          var prescription = angular.copy($scope.prescription);
          prescription.startDate = dateTimeService.toDateString(prescription.startDate);
          prescription.endDate = dateTimeService.toDateString(prescription.endDate);

          $http.post("/iTrust2/api/v1/prescriptions", prescription).then(
            function (response) {
              $scope.prescription.drug = "";
              $scope.prescription.dosage = "";
              $scope.prescription.startDate = new Date();
              $scope.prescription.endDate = new Date();
              $scope.prescription.renewals = "";
              $scope.prescription.patient = "";
              $scope.errorAdding = "";
              $scope.loadTable();
            }, function (rejection) {
              $scope.errorAdding = "Could not add prescription";
            });

        }
        $scope.deletePrescription = function (prescription) {
          var msg = "Are you sure you want to remove the prescription of " + prescription.drug.name + " for " + prescription.patient.username + "?";
          if (confirm(msg)) {
	          $http.delete('/iTrust2/api/v1/prescriptions/' + prescription.id).then(
	            function (response) {
	              $scope.loadTable();
	              $scope.message = "";
	            }, function (rejection) {
	              $scope.message = "Could not remove prescription";
	            });
          };
        }

        $http.get("/iTrust2/api/v1/patients").then(
          function (response) {
            $scope.patients = response.data;
          });

        $http.get("/iTrust2/api/v1/drugs").then(
            function (response) {
                $scope.drugs = response.data;
                $scope.message = "";
            }, function (rejection) {
                $scope.drugs = [];
                $scope.message = "Could not display drugs";
            });

        // gets the template to ng-include for a table row / item
        $scope.selectedPrescription = {};

        $scope.getTemplate = function (prescription) {
            return prescription.id === $scope.selectedPrescription.id ? 'edit' : 'view';
        };

        $scope.editPrescription = function (prescription) {
            $scope.selectedPrescription = angular.copy(prescription);
            $scope.selectedPrescription.startDate = new Date(prescription.startDate);
            $scope.selectedPrescription.endDate = new Date(prescription.endDate);
            $scope.selectedPrescription.drug = prescription.drug.code;
            $scope.selectedPrescription.patient = prescription.patient.username;
        };

        $scope.savePrescription = function () {
            var err = checkValidPrescription($scope.selectedPrescription);
            if (err) {
                $scope.errorAdding = err;
            } else {
                // Format dates to ISO format for sending
                var prescription = angular.copy($scope.selectedPrescription);
                prescription.startDate = dateTimeService.toDateString(prescription.startDate);
                prescription.endDate = dateTimeService.toDateString(prescription.endDate);

                $http.put("/iTrust2/api/v1/prescriptions", prescription).then(
                function (response) {
                    $scope.loadTable();
                    $scope.resetSelected();
                }, function (rejection) {
                    $scope.errorAdding = "Failed to edit prescription";
                });
            }
        };

        $scope.resetSelected = function () {
          $scope.selectedPrescription = {};
        };

        $scope.loadTable();
      });
		/*]]>*/
    </script>

		<div ng-app="prescriptionsApp" ng-controller="prescriptionsCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>HCP Manage Prescriptions</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Existing Prescriptions:</caption>
									<thead>
										<tr>
											<th>Drug</th>
											<th>Dosage (mg)</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Renewals</th>
											<th>Patient</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>
										<tr name="prescriptionTableRow"
											ng-repeat="p in prescriptions | orderBy: 'drug'"
											ng-include="getTemplate(p)" prescriptionId={{p.id}}>
										</tr>
									</tbody>
								</table>

								<!-- table in view mode -->
								<script type="text/ng-template" id="view">
                  <td name="drugCell">{{p.drug.name}}</td>
                  <td name="dosageCell">{{p.dosage}}</td>
                  <td name="startCell">{{p.startDate | date : 'MM/dd/yyyy'}}</td>
                  <td name="endCell">{{p.endDate | date : 'MM/dd/yyyy'}}</td>
                  <td name="renewalsCell">{{p.renewals}}</td>
                  <td name="patientCell">{{p.patient.username}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editPrescription" ng-click="editPrescription(p)" />                         
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Delete" class="btn btn-danger" name="deletePrescription" ng-click="deletePrescription(p)" />                          
                      </div>
                    </div>                  
                  </td>
                </script>

								<!-- table in edit mode -->
								<script type="text/ng-template" id="edit">
                  <td name="editDrugCell">
                    <ul style="list-style: none;">
                      <li ng-repeat="d in drugs">
                        <label>
                          <input type="radio" ng-model="$parent.selectedPrescription.drug" name="drug" value="{{d.code}}" required="true" /> {{d.name}}
                        </label>
                      </li>
                    </ul>                  
                  </td>
                  <td name="editDosageCell">
                    <input type="text" class="form-control" ng-model="selectedPrescription.dosage" />                    
                  </td>
                  <td name="editStartCell">
                    <input type="date" class="form-control" ng-model="selectedPrescription.startDate" required />
                  </td>
                  <td name="editEndCell">
                    <input type="date" class="form-control" ng-model="selectedPrescription.endDate" required />                    
                  </td>
                  <td name="editRenewalsCell">
                    <input type="number" class="form-control" ng-model="selectedPrescription.renewals" required />                  
                  </td>
                  <td name="editPatientCell">
                    <ul style="max-height:15%;overflow:auto;list-style: none;">
                      <li ng-repeat="patient in patients">
                        <label>
                          <input type="radio" ng-model="$parent.selectedPrescription.patient" name="name" value="{{patient.self.username}}" required="true"
                          />&nbsp; {{patient.self.username}}
                        </label>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveDrug" ng-click="savePrescription()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>                  
                  </td>
                </script>

								<br>

								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Prescription</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form"
													name="addPrescriptionForm"
													ng-submit="addPrescription(addPrescriptionForm.$valid)">
													<div class="row">

														<!-- patient -->
														<div class="col-md-5 radio-box">
															<div class="form-check">
																<label>Patient:</label>
																<ul
																	style="max-height: 15%; overflow: auto; list-style: none;">
																	<li ng-repeat="patient in patients"><label>
																			<input type="radio"
																			ng-model="$parent.prescription.patient" name="name"
																			value="{{patient.self.username}}" required="true" />&nbsp;
																			{{patient.self.username}}
																	</label></li>
																</ul>
															</div>
														</div>

														<!-- drug -->
														<div class="col-md-5 radio-box">
															<div class="form-check">
																<label>Drug:</label>
																<ul style="list-style: none;">
																	<li ng-repeat="d in drugs"><label> <input
																			type="radio" ng-model="$parent.prescription.drug"
																			name="drug" value="{{d.code}}" required="true" />
																			{{d.name}}
																	</label></li>
																</ul>
															</div>
														</div>

														<!-- dosage -->
														<div class="col-md-2">
															<label>Dosage:</label>
															<div class="row">
																<div class="col-md-8">
																	<input class="form-control" name="dosage"
																		ng-model="prescription.dosage" required />
																</div>
																<div class="col-md-4">
																	<span id="helpBlock" class="help-block">mg</span>
																</div>
															</div>
														</div>

													</div>
													<br>
													<div class="row">
														<!-- start date -->
														<div class="col-md-5">
															<label>Start Date:</label>
															<div class="row">
																<div class="col-md-4">
																	<input type="date" class="form-control"
																		name="startDate" ng-model="prescription.startDate"
																		required />
																</div>
															</div>
														</div>

														<!-- end date -->
														<div class="col-md-5">
															<label>End Date:</label>
															<div class="row">
																<div class="col-md-4">
																	<input type="date" class="form-control" name="endDate"
																		ng-model="prescription.endDate" required />
																</div>
															</div>
														</div>

														<!-- renewals -->
														<div class="col-md-2">
															<label>Renewals:</label>
															<div class="row">
																<div class="col-md-8">
																	<input type="number" class="form-control"
																		name="renewals" ng-model="prescription.renewals"
																		required />
																</div>
															</div>
														</div>
													</div>
													<br> <br>
													<div class="row">
														<div class="col-md-12 text-center">
															<button type="submit" class="btn btn-success"
																name="submit">Add Prescription</button>
														</div>
													</div>
												</form>
												<div>
													<p class="text-danger" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>

</html>
