<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Document Office Visit</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/

			var app = angular.module('myApp', []);
			app
					.controller(
							'editOfficeVisitCtrl',
							function($scope, $http) {
								
								$scope.getTime = function getTime(date) {									
									var hour = date.hourOfDay;
									var suffix;
									if ( hour > 12 ) {
										hour = hour - 12;
										suffix = "PM";
									} else {
										suffix = "AM";
									}
									return twoDigit(hour) + ":" + twoDigit(date.minute) + " " + suffix;
								}
								
								$scope.getDate = function getDate(date) {
									/* The months start at 0... only the months.  So we have to add 1 to get the correct input.*/
									month = date.month + 1;
									return twoDigit(month) + "/" + twoDigit(date.dayOfMonth) + "/" + date.year;
								}
								
								$scope.noVisitSelected = true;
								$scope.loadingVisits = true;
								$http.get("/iTrust2/api/v1/officevisits").then(
										function(response) {
											$scope.noVisitSelected = true;
											$scope.loadingVisits = false;
											$scope.visits = response.data;
											var visitsLength = $scope.visits.length;
											//The problem is that the visit does not contain an actual reference to the patient as a patient, only as a user
											//to get around this, we will use the patients api which can get us this mapping, and we will have angular help
											for (var i = 0; i < visitsLength; i++) {
												$scope.visits[i].formattedDate = $scope.getDate($scope.visits[i].date);
												//passing to inner loop taken from https://stackoverflow.com/questions/17244614/passing-variable-to-promise-in-a-loop
												(function(i) {
												$http.get("/iTrust2/api/v1/patients/" + $scope.visits[i].patient.username).then(
														function (response) {
															console.log(response.data);
															$scope.visits[i].actualPatient = response.data;
														});
												})(i);
											}
										});
								
								$http.get("/iTrust2/api/v1/appointmenttype")
								.then(function(response) {
									$scope.types = response.data;
								});
								
								$http.get("/iTrust2/api/v1/housesmoking")
								.then(function(response) {
									$scope.housesmoking = response.data;
								});
								
								$http.get("/iTrust2/api/v1/patientsmoking")
								.then(function(response) {
									$scope.patientsmoking = response.data;
								});

								$http.get("/iTrust2/api/v1/hospitals").then(
								function(response) {
									$scope.hospitals = response.data;
								});

								console.log($scope);
								
								$scope.selectedVisitID = null;
								$scope.selectedVisit = {};
								
								function twoDigit(num) {
									if (num < 10) {
										return "0" + num;
									}
									return num;
								}


								
								$scope.populateVisit = function () {
									var visitsLength = $scope.visits.length;
									$scope.noVisitSelected = false;
									for (var i = 0; i < visitsLength; i++) {
										if ($scope.visits[i].id == $scope.selectedVisitID) {
											$http({
												method : 'POST',
												url : '/iTrust2/api/v1/officevisits/hcp/view/' + $scope.selectedVisitID,
												data : $scope.selectedVisit
											});
											$scope.selectedVisit.patient = $scope.visits[i].patient.username;
											$scope.selectedVisit.hcp = $scope.visits[i].hcp.username;
											$scope.selectedVisit.notes = $scope.visits[i].notes;
											$scope.selectedVisit.type = $scope.visits[i].type;
											$scope.selectedVisit.hospital = $scope.visits[i].hospital.name;
											$scope.selectedVisit.time = $scope.getTime($scope.visits[i].date);
											$scope.selectedVisit.date = $scope.getDate($scope.visits[i].date);
											$scope.selectedVisit.id = $scope.visits[i].id;
											$scope.selectedVisit.height = $scope.visits[i].basicHealthMetrics.height;
											$scope.selectedVisit.weight = $scope.visits[i].basicHealthMetrics.weight;
											$scope.selectedVisit.headCircumference = $scope.visits[i].basicHealthMetrics.headCircumference;
											$scope.selectedVisit.systolic = $scope.visits[i].basicHealthMetrics.systolic;
											$scope.selectedVisit.diastolic = $scope.visits[i].basicHealthMetrics.diastolic;
											$scope.selectedVisit.hdl = $scope.visits[i].basicHealthMetrics.hdl;
											$scope.selectedVisit.ldl = $scope.visits[i].basicHealthMetrics.ldl;
											$scope.selectedVisit.tri = $scope.visits[i].basicHealthMetrics.tri;
											$scope.selectedVisit.houseSmokingStatus = $scope.visits[i].basicHealthMetrics.houseSmokingStatus;
											$scope.selectedVisit.patientSmokingStatus = $scope.visits[i].basicHealthMetrics.patientSmokingStatus;
										     $scope.three = false;
										     $scope.threeAndUp = false;
										     $scope.twelveAndUp = false;
										     var month = $scope.visits[i].date.month;
										     var day = $scope.visits[i].date.dayOfMonth;
										     var year = $scope.visits[i].date.year;
										     var dob = $scope.visits[i].actualPatient.dateOfBirth;
										     var age = year - dob.year;
										     if (month < dob.month) {
										    	 	age -= 1;
										     } else if (month == dob.month) {
										    	 	if (day < dob.day) {
										    	 		age -= 1;
										    	 	} else if (day == dob.day) {
										    	 		console.log("Happy Birthday!");
										    	 	}
										     }
										     if (age < 3) {
										    	 	$scope.three = true;
										     }
										    	 if (age >= 3) {
										    		 $scope.threeAndUp = true;
										    	 }
										    	 if (age >= 12) {
										    		 $scope.twelveAndUp = true;
										    	 }
										    	 
											break;
										}
									}
								}
								
								$scope.submit = function() {
									console.log($scope.selectedVisit)
									$scope.selectedVisit.hcp = /*[[${#httpServletRequest.remoteUser}]]*/null; /* Ugly hack; use this to retrieve the name of the HCP who is currently logged in.  This grabs it from Thymeleaf */
									$scope.errorMsg = "";
									$scope.selectedVisit.status = "PENDING";
									
									if ($scope.selectedVisit.type == null) {
										$scope.errorMsg += "Please select a visit type\n";
									}
									
									if ($scope.selectedVisit.type == null) {
										$scope.errorMsg += "Please select a hospital\n";
									}
									
									if (/(\d{1,2})\/(\d{1,2})\/(\d{4})/.test($scope.selectedVisit.date) == false ) {
										$scope.errorMsg += "Please input a valid date as MM/dd/yyyy"	
									}
									if (/(\d{1,2}):(\d{1,2}) (am|pm|AM|PM)/.test($scope.selectedVisit.time) == false ) {
										$scope.errorMsg += "Please input a valid time as hh:mm aa"	
									}
									//info on date usage comes from here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date
									var dateInput = /(\d{1,2})\/(\d{1,2})\/(\d{4})/.exec($scope.selectedVisit.date);
									dateInput[1] = (parseInt(dateInput[1]) - 1) + '';//months are 0 indexed
									var timeInput = /(\d{1,2}):(\d{1,2}) (am|pm|AM|PM)/.exec($scope.selectedVisit.time);
									if ((timeInput[3] == 'pm' || timeInput[3] == 'PM') && parseInt(timeInput[1]) < 12) { //add 12 for check
										timeInput[1] = (parseInt(timeInput[1]) + 12) + '';
									}
									var date = new Date(dateInput[3], dateInput[1], dateInput[2], timeInput[1], timeInput[2]);
									if (!(date.getFullYear() == dateInput[3] && date.getMonth() == dateInput[1] && date.getDate() == dateInput[2] && date.getHours() == timeInput[1] && date.getMinutes() == timeInput[2])) {
										$scope.errorMsg += "Please input a valid date and time\n";
									}
									
									if (/^[0-9]{1,3}(\.[1-9]?)?$/.test($scope.selectedVisit.height) == false) {
										$scope.errorMsg += "Height/length can be up to a 3-digit positive number and potentially one digit of decimal precision\n"	
									}
									if (/^[0-9]{1,3}(\.[1-9]?)?$/.test($scope.selectedVisit.weight) == false) {
										$scope.errorMsg += "Weight can be up to a 3-digit positive number and potentially one digit of decimal precision\n"	
									}
									if ($scope.three && /^[0-9]{1,3}(\.[1-9]?)?$/.test($scope.selectedVisit.headCircumference) == false) {
										$scope.errorMsg += "Head circumference can be up to a 3-digit positive number and potentially one digit of decimal precision\n"	
									}
									if ($scope.threeAndUp && /^[0-9]{1,3}$/.test($scope.selectedVisit.systolic) == false) {
										$scope.errorMsg += "Systolic blood pressure can be up to a 3-digit positive number\n"	
									}
									if ($scope.threeAndUp && /^[0-9]{1,3}$/.test($scope.selectedVisit.diastolic) == false) {
										$scope.errorMsg += "Diastolic blood pressure can be up to a 3-digit positive number\n"	
									}
									//handle invalid and outside of range
									if ($scope.twelveAndUp && /^[0-9]{1,2}$/.test($scope.selectedVisit.hdl) == false) {
										$scope.errorMsg += "HDL cholesterol can be a number between 0 and 90\n"	
									} else if ($scope.twelveAndUp) {
										var hdlInt = parseInt($scope.selectedVisit.hdl);
										if (hdlInt > 90) {
											$scope.errorMsg += "HDL cholesterol can be a number between 0 and 90\n"	
										}
									}
									//handle invalid and outside of range
									if ($scope.twelveAndUp && /^[0-9]{1,3}$/.test($scope.selectedVisit.ldl) == false) {
										$scope.errorMsg += "LDL cholesterol can be a number between 0 and 600\n"	
									} else if ($scope.twelveAndUp) {
										var ldlInt = parseInt($scope.selectedVisit.ldl);
										if (ldlInt > 600) {
											$scope.errorMsg += "LDL cholesterol can be a number between 0 and 600\n"	
										}
									}
									//handle invalid and outside of range
									if ($scope.twelveAndUp && /^[0-9]{1,3}$/.test($scope.selectedVisit.tri) == false) {
										$scope.errorMsg += "Triglycerides can be a number between 100 and 600\n"	
									} else if ($scope.twelveAndUp) {
										var triInt = parseInt($scope.selectedVisit.tri);
										if (triInt > 600 || triInt < 100) {
											$scope.errorMsg += "Triglycerides can be a number between 100 and 600\n"	
										}
									}
									$http({
										method : 'PUT',
										url : '/iTrust2/api/v1/officevisits/' + $scope.selectedVisitID,
										data : $scope.selectedVisit
									}).then(function(response) {
										$scope.message="Office visit edited successfully";
										console.log(response);
									}, function(rejection) {
										$scope.message="Error occurred editing office visit";
										console.log(rejection);
									})
								}
							});

			/*]]>*/
		</script>



		<div ng-app="myApp" ng-controller="editOfficeVisitCtrl">
<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Patient<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/iTrust2/hcp/viewAppointmentRequests"
								id="viewrequests">View Appointment Requests</a></li>
							<li><a href="/iTrust2/hcp/viewAppointments"
								id="upcomingrequests">View Upcoming Appointments</a></li>
							<li><a href="#">Edit Patient -- Not Implemented</a></li>
							<li><a href="#">Add Patient -- Not Implemented</a></li>
							<li><a href="/iTrust2/hcp/documentOfficeVisit.html"
								id="documentOfficeVisit">Document Office Visit</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/iTrust2/personnel/editDemographics"
								id="editdemographics">Edit Demographics</a></li>
							<li> <a href="/iTrust2/hcp/editOfficeVisit"
							      id="editOfficeVisit">Edit Office Visit</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
						<div style="float:left;width:45%;height:75%;overflow-y:auto">
								<h2>Visits:</h2>
											<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
				<table><tr><td style="text-align:right;padding:5px"><h4>Search by patient:</h4></td><td><input type="text" ng-model="searchFilter.patient.username"/></td></tr>
				<tr><td style="text-align:right;padding:5px"><h4>Search by date:</h4></td><td><input type="text" ng-model="searchFilter.formattedDate"/></td></tr></table>
								<h3 ng-show="loadingVisits">Loading visits, please wait...</h3>
								<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
			<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
					<ul style="overflow:auto;height=100%;">
							<li ng-repeat="visit in visits | filter:searchFilter"><h4>
							<!-- https://stackoverflow.com/questions/32051486/how-to-call-javascript-function-on-radio-button-click-not-on-focus --> 
							<label><input type="radio" ng-model="$parent.selectedVisitID" ng-click="populateVisit()"
									name="name" value="{{visit.id}}" required="true" />
							{{visit.patient.username}}'s {{visit.type}} on {{visit.formattedDate}} at {{getTime(visit.date)}}
							</label>
							</h4></li>
						</ul>
						</div>

<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
		<div style="float:left;width:55%;border-left:1px solid #bbb;padding: 3%;height:75%;overflow-y:auto">
			<div ng-show="noVisitSelected">
				<h3>Please select a visit to view detailed report.</h3>
			</div>
			<div ng-show="!noVisitSelected">
			<h3>{{selectedVisit.patient}}'s {{selectedVisit.type}} on {{selectedVisit.date}} at {{selectedVisit.time}}</h3>
			<h2>Edit Appointment Details</h2>
			<table>
					<tr><td style="text-align:right;padding:5px"><b>Patient:</b></td><td> {{selectedVisit.patient}}</td>
					</tr>
					<tr><td style="text-align:right;padding:5px"><b>Date:</b></td><td> <input type="text" id="date" name="date" ng-model="selectedVisit.date"
					 
						required="true" />
				<!--</td>
					<td> -->
					<!-- ng-pattern="/^(((1[012])|(0[1-9]))/(([12]\d)|(0[1-9])|(3[01]))/\d\d\d\d)?$/" -->
					<!--  <div class="has-error" ng-show="editForm.date.$dirty">
							<span ng-show="editForm.date.$error.required">This is a required field.</span>
							<span ng-show="editForm.date.$invalid">Valid date format is MM/dd/YYYY.</span>
						</div></td>
					</tr> -->
					<tr><td style="text-align:right;padding:5px"><b>Time:</b></td><td><input type="text" id="time" name="time" ng-model="selectedVisit.time" 
						required="true" />
				<!-- </td>
					<td> -->
					<!-- ng-pattern="/^(((1[0-2])|(0\d)):[0-6]\d\s(am|pm))?$/" -->
						<!-- <div class="has-error" ng-show=firs"editForm.time.$dirty">
							<span ng-show="editForm.time.$error.required">This is a required field.</span>
							<span ng-show="editForm.time.$invalid">Valid time format is hh:dd am/pm.</span>
						</div></td> -->
					</tr>
					<tr><td style="text-align:right;padding:5px"><b>Hospital:</b></td><td> <ul>
							<li ng-repeat="hospital in hospitals"><label>
									<input type="radio" ng-model="$parent.selectedVisit.hospital"
									name="hospital" value="{{hospital.name}}" required="true" />
									{{hospital.name}}
							</label></li>
						</ul></td>
					</tr>
					<tr><td style="text-align:right;padding:5px"><b>Type:</b></td><td> <ul>
							<li ng-repeat="type in types"><label> <input
									type="radio" ng-model="$parent.selectedVisit.type" name="type"
									value="{{type}}" required="true" />
									{{type}}
							</label></li>
						</ul></td>
					</tr>
					<tr><td style="text-align:right;padding:5px"><b>HCP:</b></td><td> {{selectedVisit.hcp}}</td>
					</tr>
					<tr><td style="text-align:right;padding:5px"><b>Notes:</b></td>
<!-- Info on text areas taken from here: https://www.w3schools.com/tags/tag_textarea.asp-->
					<td><textarea name="notes" ng-model="selectedVisit.notes" rows="6" cols="30" style="overflow:auto"></textarea></td>
			</table>
			<h2>Basic Health Metrics</h2>
			<table>
			<tr>
					<td style="text-align:right;padding:5px"><b>Height/Length:</b></td>
					<td><input type="text" name="height" ng-model="selectedVisit.height"
						required="true" /></td>
				</tr>
				<tr>
					<td style="text-align:right;padding:5px"><b>Weight:</b></td>
					<td><input type="text" name="weight" ng-model="selectedVisit.weight"
						required="true" /></td>
				</tr>
				<tr ng-show="three" >
					<td style="text-align:right;padding:5px"><b>Head Circumference:</b></td>
					<td><input type="text" name="weight" ng-model="selectedVisit.headCircumference"
						required="true" /></td>
				</tr>
				<tr ng-show="threeAndUp" >
					<td style="text-align:right;padding:5px"><b>Systolic:</b></td>
					<td><input type="text" name="systolic" ng-model="selectedVisit.systolic"
						required="true" /></td>
				</tr>
				<tr ng-show="threeAndUp" >
					<td style="text-align:right;padding:5px"><b>Diastolic:</b></td>
					<td><input type="text" name="diastolic" ng-model="selectedVisit.diastolic"
						required="true" /></td>
				</tr>
				<tr ng-show="twelveAndUp" >
					<td style="text-align:right;padding:5px"><b>HDL:</b></td>
					<td><input type="text" name="hdl" ng-model="selectedVisit.hdl"
						required="true" /></td>
				</tr>
				<tr ng-show="twelveAndUp" >
					<td style="text-align:right;padding:5px"><b>LDL:</b></td>
					<td><input type="text" name="ldl" ng-model="selectedVisit.ldl"
						required="true" /></td>
				</tr>
				<tr ng-show="twelveAndUp" >
					<td style="text-align:right;padding:5px"><b>Triglycerides:</b></td>
					<td><input type="text" name="tri" ng-model="selectedVisit.tri"
						required="true" /></td>
				</tr>
				<tr>
					<td style="text-align:right;padding:5px"><b>Household Smoking Status:</b></td>
					<td>
						<ul>
							<li ng-repeat="hsmokes in housesmoking"><label>
									<input type="radio" ng-model="$parent.selectedVisit.houseSmokingStatus"
									name="houseSmokingStatus" value="{{hsmokes}}" required="true" />
									{{hsmokes}}
							</label></li>
						</ul>
					</td>
				</tr>
				<tr ng-show="twelveAndUp" >
					<td style="text-align:right;padding:5px"><b>Patient Smoking Status:</b></td>
					<td >
						<ul>
							<li ng-repeat="psmokes in patientsmoking"><label>
									<input type="radio" ng-model="$parent.selectedVisit.patientSmokingStatus"
									name="patientSmokingStatus" value="{{psmokes}}" required="true" />
									{{psmokes}}
							</label></li>
						</ul>
					</td>
				</tr>
			</table>
						<button ng-click="submit()" name="submit">Edit Office
				Visit</button>
				<div name="errorMsg"><pre>{{errorMsg}}</pre></div>
							<div name="success">{{message}}</div>
			</div>
			</div>

			<br />

		</div>




	</div>
</body>
</html>