<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Personal Representatives</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content" style="text-align: center;">

		<script th::inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
			var app = angular.module("personalRepsApp", []);
			app.controller("personalRepsCtrl", function($scope, $http) {
				$scope.representing = [];			//contains all of the patients the selected user represents
				$scope.representatives = [];			//contains all the representatives of the selected user
				$scope.message = "";					//used for debugging, output errors to console
				$scope.declare = false;				//flag for whether the HCP is declaring a rep or not
				$scope.selectedPatient = null;			//currently selected patient
				$scope.selectedRepresentative = null;	//selected representative
				$scope.succDeclare = false;			//flag for if declaring a representative was successful
				$scope.failDeclare = false;			//flag for if declaring a representative was unsuccessful
				$scope.searchRep = false;			//flag for whether HCP has decided to search for a rep
				$scope.view = false;					//flag for whteher HCP is viewing a patient's representatives or not
				$scope.alertMsg = "";				//the text for the alert message
				$scope.alertPls = false;				//flag for whether to show the alert or not
				
				//Loads the representatives tables
				$scope.loadReps = function() {
					//Gets the representatives of the selected patient
					$http.get("/iTrust2/api/v1/patient/representatives/" + $scope.selectedPatient).then(
							function(response){
								$scope.representatives = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.representatives = [];
								$scope.message = "Could not get user's representatives";
							});
					
					//Get the patients that the selected user represents
					$http.get("/iTrust2/api/v1/patient/representing/" + $scope.selectedPatient).then(
							function(response){
								$scope.representing = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.representing = [];
								$scope.message = "Could not get who user represents";
							});
				}
				
				$scope.selectPatient = function(patient, override) {
					$scope.selectedPatient = "";
					$scope.selectedPatient = patient.self.username;
				}
				
				$scope.selectRep = function(rep, override){
					$scope.selectedRepresentative = "";
					$scope.selectedRepresentative = rep.self.username;
				}
				
				$scope.addRep = function(){
					if(!$scope.selectedRepresentative || $scope.selectedRepresentative.length == 0) {
						$scope.failDeclare = true;
						$scope.succDeclare = false;
						$scope.alertPls = false;
						$scope.alertMsg = "";
						$scope.resetAll();
						return
					}
					$http.get("/iTrust2/api/v1/patient/representatives/" + $scope.selectedPatient + "/" + $scope.selectedRepresentative).then(
							function(response){
								$scope.message = "Successfully declared";
								$scope.loadReps();
								$scope.succDeclare = true;
								$scope.failDeclare = false;
								$scope.alertPls = false;
								$scope.alertMsg = "";
							}, function(rejection) {
								$scope.message = "Could not add user to reps list";
								$scope.failDeclare = true;
								$scope.succDeclare = false;
								$scope.alertPls = false;
								$scope.alertMsg = "";
							});
					$scope.resetAll();
					
				}
				
				$scope.declareFn = function() {
					if(!$scope.selectedPatient || $scope.selectedPatient.length == 0) {
						$scope.alertMsg = "You must select a patient before declaring a representative.";
						$scope.alertPls = true;
					} else {
						$scope.declare = true;
						$scope.alertPls = false;
						$scope.alertMsg = "";
						$scope.searchRep = true;
					}
				}
				
				$scope.viewFn = function() {
					if(!$scope.selectedPatient || $scope.selectedPatient.length == 0) {
						$scope.alertMsg = "You must select a patient before viewing their representatives.";
						$scope.alertPls = true;
					} else {
						$scope.view = true;
						$scope.alertPls = false;
						$scope.alertMsg = "";
						$scope.loadReps();
					}
				}
				
				//Resets button to default states
				$scope.back = function(){
					$scope.resetAll();
				}
				
				//Returns all patients that will then be filtered
				$http.get("/iTrust2/api/v1/patients").then(
					function(response) {
						$scope.patients = response.data;
					});
				
				// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
				$scope.searchFilter = "";
				$scope.filterPatients = function(patient) {
					return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
				}
				
				//Used for displaying name in search list
				$scope.displayName = function(p) {
					return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
				}
				
				//switch flag function
				$scope.switchBool = function(value) {
				   $scope[value] = !$scope[value];
				};
				
				$scope.resetAll = function() {
					$scope.declare = false;
					$scope.searchRep = false;
					$scope.view = false;
					$scope.selectedPatient = null;
					$scope.selectedRepresentative = null;
					$scope.searchFilter = "";
				}
				
				}); //put everything above this!!!
		</script>

		<h1 align="center">Personal Representatives</h1>
		<div ng-app="personalRepsApp" ng-controller="personalRepsCtrl">

			<!-- Alerts for whether declaring was successful -->
			<div class="alert alert-success" ng-show="succDeclare"
				ng-hide="!succDeclare || failDeclare || alertPls">
				<button type="button" class="close"
					data-ng-click="switchBool('succDeclare');" id="closeAlert">x</button>
				Successfully declared a representative
			</div>
			<div class="alert alert-danger" ng-show="failDeclare"
				ng-hide="!failDeclare || succDeclare || alertPls">
				<button type="button" class="close"
					data-ng-click="switchBool('failDeclare')" id="closeAlert">x</button>
				Error while adding representative
			</div>

			<div class="alert alert-danger" ng-show="alertPls"
				ng-hide="!alertPls || failDeclare || succDeclare">
				<button type="button" class="close"
					data-ng-click="switchBool('alertPls')" id="closeAlert">x</button>
				{{alertMsg}}
			</div>


			<div class="container">
				<!-- Buttons -->
				<div class="row" style="display: inline-block;">
					<div class="col-md-12" style="margin: 0 auto; text-align: center">
						<button class="btn btn-success"
							style="width: 130px; display: inline-block; position: relative; right: 50px"
							id="viewbutton" ng-click="viewFn()"
							ng-hide="view || declare || searchRep" ng-show="!view">
							View</button>
						<button class="btn btn-success"
							style="width: 180px; display: inline-block; position: relative; left: 50px"
							id="declareButton" ng-click="declareFn()"
							ng-hide="declare || view" ng-show="!declare">Declare a
							Representative</button>
						<button class="btn btn-success"
							style="width: 100px; display: inline-block;" id="declareBack"
							ng-click="back()" ng-show="declare">Back</button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" style="text-align: center; margin: 0 auto;">
						<button class="btn btn-success" style="width: 100px" id="viewBack"
							ng-click="back()" ng-show="view">Back</button>
						<br>
						<button class="btn btn-success"
							style="position: relative; top: 20px" id="confirmDeclareButton"
							ng-click="addRep()" ng-show="declare">Confirm
							Declaration</button>
					</div>
				</div>
			</div>

			<br>
			<!-- Who represent the logged in patient -->
			<div class="row"
				style="display: inline-block; position: relative; left: -50px; vertical-align: top"
				ng-show="view">
				<div class="col-md-5" style="width: 550px;">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>Their Representatives</h3>
						</div>
						<div class="panel-body" style="overflow-y: scroll;">
							<table class="table table-bordered"
								style="width: 500px; table-layout: fixed">
								<thead>
									<tr>
										<th>Name</th>
										<th>MID</th>
									</tr>
								</thead>
								<tbody>
									<tr name="myRepsTableRow" ng-repeat="myR in representatives">
										<td name="myRepName"
											id="{{myR.self.username}}-representativeName">{{myR.firstName}}
											{{myR.lastName}}</td>
										<td name="myRepMID"
											id="{{myR.self.username}}-representativeMID">{{myR.self.username}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- Who the patient represents -->
			<div class="row"
				style="display: inline-block; position: relative; right: -50px; vertical-align: top"
				ng-show="view">
				<div class="col-md-5" style="width: 550px">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>Who They Represent</h3>
						</div>
						<div class="panel-body" style="overflow-y: scroll;">
							<table class="table table-bordered"
								style="width: 500px; table-layout: fixed;">
								<thead>
									<tr>
										<th>Name</th>
										<th>MID</th>
									</tr>
								</thead>
								<tbody>
									<tr name="repTableRow" ng-repeat="r in representing">
										<td name="repName">{{r.firstName}} {{r.lastName}}</td>
										<td name="repMID">{{r.self.username}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- Search for a user -->
			<div style="margin: 0 auto; overflow-y: auto; vertical-align: top"
				ng-hide="declare || view || searchRep">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter"
						id="patientSearch" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<ul style="overflow: auto" class="list-unstyled">
					<!-- Information on how labels work from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
					<li ng-repeat="patient in patients | filter:filterPatients"><h4>
							<label> <input type="radio"
								ng-model="$parent.selectedPatient" name="patient"
								value="{{patient.self.username}}"
								id="{{patient.self.username}}-declare"
								ng-click='$parent.selectPatient(patient)' />&nbsp;{{$parent.displayName(patient)}}
							</label>
						</h4></li>
				</ul>
			</div>

			<!-- Search for a representative -->
			<div style="margin: 0 auto; overflow-y: auto; vertical-align: top"
				ng-show="searchRep" ng-hide="!searchRep">
				<h2>Potential Representatives:</h2>
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter"
						id="repSearch" />
				</h4>
				<ul style="overflow: auto" class="list-unstyled">
					<li ng-repeat="rep in patients | filter:filterPatients"><h4>
							<label> <input type="radio"
								ng-model="$parent.selectedRepresentative" name="rep"
								value="{{rep.self.username}}"
								id="{{rep.self.username}}-representative"
								ng-click='$parent.selectRep(rep)' />&nbsp;{{$parent.displayName(rep)}}
							</label>
						</h4></li>
				</ul>
			</div>

		</div>
		<!-- container div -->
	</div>
	<!-- controller div -->
	</div>
	<!-- thymeleaf div -->
</body>
</html>