<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head th:include="layout :: head(title=~{::title},links=~{})">
        <meta charset="UTF-8">
        <title>
            Search Passenger Contacts
        </title>
        <link rel="icon" type="image/x-icon" href="/iTrust2/resources/img/favicon.ico" />
	</head>
	<style>
    	/* This is from w3Schools at bit.ly/w3Loader */
		.loader {
		  border: 4px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 4px solid #3498db;
		  width: 30px;
		  height: 30px;
		  -webkit-animation: spin 2s linear infinite; /* Safari */
		  animation: spin 2s linear infinite;
		}
		
		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}
		
		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}
		
	</style>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
	
	<!-- Script Starts Here -->
		<script>
			
			var app = angular.module("searchApp", []);
			app.controller("searchContactsCtrl", function($scope, $http){
				
				$scope.csvString = "";
				$scope.showLoader = false;
				$scope.showTableLoader = false;
				$scope.errorPresent = "";
				$scope.uploads = "";
				$scope.showUploads = false;
				$scope.checkUploaded = false;
				
				$scope.uploadCSV= function(){
					$http.post("/iTrust2/api/v1/diseasecontrol/contacts/csv", $scope.csvString).then(function(response){
						$scope.uploads = response.data;
						$scope.showLoader = false;
						$scope.showUploads = true;
						$scope.checkUploaded = true;
					},function(errorResponse){
						$scope.uploads = errorResponse.data;
						$scope.showLoader = false;
						$scope.errorPresent = "Error: " + errorResponse.data.message;
					});
					
					document.getElementById("uploadDataForm").reset();
					
				}
				 
				 
				// Function adapted from bloodsugardiary.html
				// Function used to read a .csv file submitted by the user
                $scope.getFile = function() {
                    var f = document.getElementById('dataUploadField').files[0],
                    r = new FileReader();
                    
                    // Checks the file type to see if it is csv.
                    // If it is not a CSV, aborts the upload.
                    var fileName = f.name;
                    // If the file name does not end in either .csv or .CSV
                    // (the common capitalizations), make this stop with 
                    // an error message.
                    // Warning - Internet Explorer will fail with this.
                    // Microsoft Edge, Google Chrome, Mozilla Firefox, or other
                    // major browsers should work.
                    if (!fileName.endsWith(".csv") && !fileName.endsWith(".CSV")) {
                    	$scope.errorPresent = "Error: " + "The file " + fileName + " has an incorrect file extension.";
                    } else {
                    	// In the else case, the file has the correct file extension.
                    	// It is read to text, then sent to the correct function.
                    	
                    	// First, reset the error message and the show status.
                    	$scope.errorPresent = "";
                    	$scope.showLoader = true;
                    	// Then read the file as text.
                    	r.readAsText(f);
                    	
                    	r.onload = function(e) {;
                    		$scope.csvString = r.result;

                    	    $scope.uploadCSV();
                    		
                    	};
                    	
                    }
                }
				
				$scope.passengerIds = "";
				
				$scope.loadPassengerInfo = function(){
					$http.get("/iTrust2/api/v1/diseasecontrol/passengers").then(function(response){
						$scope.passengerIds = response.data;

					},function(errorResponse){
						$scope.uploads = errorResponse.data;
						$scope.errorPresent = "Error: " + errorResponse.data.message;
					})
				}
				
				$scope.form = {passengerId:"", depth:0};
				$scope.date = "";
				$scope.showTable = false;
				$scope.submitted = false;
				
				$scope.submit = function(){
					$scope.showTable = false;
					$scope.responseMessage = "";
					$scope.showTableLoader = true;
					$http.post("/iTrust2/api/v1/diseasecontrol/contacts", $scope.form).then(function(response){
						$scope.map = response.data;
						for (const [depth, list] of Object.entries(response.data)) {
						    $scope.map[depth] = $scope.map[depth].map(contact => {
						        const symptomDate = contact.initialSymptomDate;
						        const newSymptomDate = new Date();
						        newSymptomDate.setFullYear(symptomDate.date.year);
						        newSymptomDate.setMonth(symptomDate.date.month);
						        newSymptomDate.setDate(symptomDate.date.day);
						        let newSeverity = null;
						        if ($scope.date < newSymptomDate) {
						            newSeverity = "NOT INFECTED";
						        } else {
						            newSeverity = contact.symptomSeverity;
						        }
						        return {
						            ...contact,
						            initialSymptomDate: newSymptomDate,
						            symptomSeverity: newSeverity
						        };
						    });
						}
						$scope.responseMessage = "Click/tap on the Contact Level to view the passenger contacts.";
						$scope.showTableLoader = false;
						$scope.showTable = true;
						$scope.submitted = true;
					},function(errorResponse){
						$scope.responseMessage = "Error: " + errorResponse.data.message;
						$scope.showTableLoader = false;
						
					});
				}
				
				$scope.minTwoDigits = function(n) {
            		return (n < 10 ? '0' : '') + n;
            	}
				
			
				<!-- Forces the function to run whenever the webpage gets loaded -->
				window.onload = $scope.loadPassengerInfo();
			});
			
		</script>
	
	<!-- This div is the app -->
		<div ng-app="searchApp" ng-controller="searchContactsCtrl" ng-cloak >
			<!-- This is the page container. Adapted from FindExpertFrom.html -->
			<div class="container" id="searchContainer">
				<div class="row">
					<div class="col-md-12">
						<!-- Everything is in this primary box. -->
						<div class="panel panel-primary">
							<!-- This is the panel heading area -->
							<div class="panel-heading">
								<h3 id="trackcontactsheading">Track Previous Contacts</h3>
							</div>		
							
							<div class="panel-body">

								<!-- I need two columns in here. Bootstrap can help! -->
								<!-- This first one is for the form. -->
								<div class="col-md-4" id="searchPassengerFormColumn">
								
									
									<!-- Next is the body of the panel -->
									
									<!-- This contains the instructions for the user. -->
									<p>
										<b>Please upload a CSV file with data in the following format:</b>
										<br>
										<i>Passenger's ID, Contacted Passenger ID 1, Contacted Passenger ID 2, ...</i>
									</p>
									<br>
									
									<!-- The actual page functionality (file uploads) -->
									<form ng-submit="getFile()" name="uploadDataForm" id="uploadDataForm">
										<!-- This is how the file is uploaded. We do frontend file extension checks, and backend checks for contents. -->
										<input type="file" id="dataUploadField" accept=".csv" required>
										
										<br>
										<!-- The submit button stays enabled now. -->
										<button ng-disabled="uploadDataForm.dataUploadField$untouched" type="submit" id="submitUploadedDataButton" class="btn btn-primary">Upload CSV</button>
										<br>
										<br>
										
										<!-- This is a loading message. -->
										<div id="loadingDiv" ng-if="showLoader">
										    <table id="loadingTable">
										    	<tr></tr>
										        <tr id="loadingRow">
										            <td>Loading &ensp;</td>
										            <td>
										                <div class="loader" id="loaderSpinner"></div>
										            </td>
										        </tr>
											</table>
										</div>
										<div style="color:red" ng-bind="errorPresent" id=errorUploading >
											
										</div>
										
										<div ng-if="showUploads" id="numAddedMessage">
											<p>
												<!-- Not 100% sure what the message should be -->
												<b>Contact data has been processed.</b>
												<br>
											</p>
										</div>
									</form>
								
									<!-- Referenced W3Schools Bootstrap Form page. -->
									<!-- And HTML Forms page at W3Schools. -->

									<form ng-submit="submit()" name="searchPassengerContactsForm">
										<div class="form-group">
											<label for="id">Passenger ID</label>
											<!-- Referenced W3Schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete -->
											<input list="passengerID" ng-model="form.passengerId" name="passengerID"
											  class="form-control" pattern="[a-zA-Z0-9]+" required>
											  <datalist id="passengerID">
											    <option ng-repeat="(id, name) in passengerIds" ng-value="id">{{name}}</option>
											  </datalist>
											<div class="has-error"
												ng-show="searchPassengerContactsForm.passengerID.$dirty">
												<span style="color: red;"
													ng-show="searchPassengerContactsForm.passengerID.$error.pattern">
													Invalid Passenger ID. </span>
											</div>
										</div>

										<div class="form-group">
										<!-- Referenced W3Schools: https://www.w3schools.com/tags/att_input_type_date.asp -->
											<label for="date">Date of Infection</label> <input ng-model="date" name="date"
												type="date" class="form-control" id="date"
												title="" required>
											<div class="has-error"
												ng-show="searchPassengerContactsForm.date.$dirty">

											</div>
										</div>

										<div class="form-group">
											<label for="depth">Depth</label> <input
												ng-model="form.depth" name="depth" min="1" step="1"
												type="number" class="form-control" id="depth" required>
											<div class="has-error"
												ng-show="searchPassengerContactsForm.depth.$dirty">
												<span style="color: red;"
													ng-show="searchPassengerContactsForm.depth.$error.min"> Depth
													must be greater than 0. </span>
											</div>
										</div>

										<!-- Should the check happen after you Track Contacts and a message pops up asking for contact info first? -->
										<button
											ng-disabled="searchPassengerContactsForm.passengerID.$invalid ||
                                            searchPassengerContactsForm.passengerID.$pattern || searchPassengerContactsForm.date.$invalid || 
                                            searchPassengerContactsForm.time.$invalid ||
                                            searchPassengerContactsForm.depth.$min || searchPassengerContactsForm.depth.$invalid"
											type="submit" class="btn btn-default" name="findPassengerContacts"
											id="findPassengerContactsBtn" > Track Contacts </button>

									</form>
								</div>
								
								
								<!-- This second one is for the table. Required hiding. -->
								<!-- Used Bootstrap collapse for the "table." -->
								<!-- Referenced and used code design from W3Schools at bit.ly/w3Collapse. -->
								<div class="col-md-8" id="contactsTableColumn">

									<div class="container">
										<h4 ng-show="submitted">
											<strong>Contacts by Level</strong>
										</h4>
										<p id="responseOverTable">{{responseMessage}}</p>
										
										<!-- This is a loading message. -->
										<div id="loadingTableDiv" ng-if="showTableLoader">
										    <table id="loadingTable2">
										    	<tr></tr>
										        <tr id="loadingRow2">
										            <td>Loading &ensp;</td>
										            <td>
										                <div class="loader" id="loaderSpinner"></div>
										            </td>
										        </tr>
											</table>
										</div>
										
										<div class="panel-group" ng-show="showTable">
											<div class="panel panel-default" ng-repeat="(depthPosition, list) in map">
												<div class="panel-heading">
													<h5 class="panel-title">
														<a data-toggle="collapse" href="#{{depthPosition}}"> <strong>Level {{depthPosition}} Contacts</strong>
														</a>
													</h5>
												</div>
												<div id="{{depthPosition}}" class="panel-collapse collapse">
													<ul class="list-group">
														<li class="list-group-item" ng-repeat="l in list" >
														<!-- The panel does not show up, and single digits are shown instead of double -->
															Passenger {{l.passengerId}} ({{l.name}}) - {{l.symptomSeverity}}, {{l.initialSymptomDate.toLocaleDateString()}}
														</li>
														<li class="list-group-item" ng-if="list.length === 0">No contacts at this depth</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>


</html>