<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
    <meta charset="UTF-8">
    <title>
        View Statistics
    </title>
    <link rel="icon" type="image/x-icon" href="/iTrust2/resources/img/favicon.ico" />
</head>

<style>
    body {
        font-family: Arial;
    }
    
        	/* This is from w3Schools at bit.ly/w3Loader */
		.loader {
		  border: 4px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 4px solid #3498db;
		  width: 30px;
		  height: 30px;
		  -webkit-animation: spin 2s linear infinite; /* Safari */
		  animation: spin 1s linear infinite;
		}
		
		/* Safari */
		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}
		
		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

    /* Style the tab */
    .tab {
        background-color: #337ab7;
        overflow: hidden;
        position: relative;
        height: 50px;
        bottom: 0%;
        border-bottom-color: #ffffff;

    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: #48B8D0;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 10px;
        font-size: 1vw;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 100%;
        width: 20%;
        position: relative;
        bottom: 0px;
        border-bottom-color: #ffffff;

    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #08a8cc;
    }


    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    /* Style tab content */
    .tabcontent {
        display: none;
        margin: 0 auto 70px;
    }
    

</style>

<body th:include="layout :: body" th:with="content=~{::content}" onload="document.getElementsByClassName('tablinks')[0].click()">
    <div th:fragment="content">

        <!-- Script starts here. -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
        <script>
            // angular-chart.js setup taken from https://github.com/jtblin/angular-chart.js
            var app = angular.module("viewStatisticsApp", ["chart.js"]);
            app.config(function (ChartJsProvider) {
                // Configure all charts
                ChartJsProvider.setOptions({
                    responsive: true,
                    maintainAspectRatio: false
                });
                // Configure all line charts
                ChartJsProvider.setOptions('line', {
                    elements: {
                    	line: {
                            fill: false
                        }	
                    },
                    legend: {
						display: true,
						position: 'bottom'
					}
                });
            });
            app.controller("viewStatsCtrl", function ($scope, $http) {
                $scope.dataLoaded = false;
                $scope.rNaughtMessage = "";
                $scope.rNaughtValue = null;
                $scope.loadingrNaught = true;
                $scope.loadingStatistics = true;
                
                function getStatistics () {  
                    $http.get("/iTrust2/api/v1/diseasecontrol/statistics")
                    	.then(function(response) {
                    		$scope.loadingStatistics = false;
                    		$scope.dataLoaded = true;
                    		var apiResponse = response.data;
                    		
                    		// store data for angular controller, easy to parse for chartjs
                            $scope.plotData = {
                                newInfectionsPerDay: {
                                    labels: Object.keys(apiResponse.newInfectionsPerDay),
                                    series: ['New Infections'],
                                    data: [Object.values(apiResponse.newInfectionsPerDay)],
                                    colors: [{
                                        backgroundColor: 'rgba(0, 79, 209, 0.71)',
                                        borderColor: 'rgba(0, 79, 209, 0.71)',
                                    }]
                                },
                                totalInfectionsPerDay: {
                                    labels: Object.keys(apiResponse.totalInfectionsPerDay),
                                    series: ['Total Infections'],
                                    data: [Object.values(apiResponse.totalInfectionsPerDay)],
                                    colors: [{
                                        backgroundColor: 'rgba(0, 79, 209, 0.71)',
                                        borderColor: 'rgba(0, 79, 209, 0.71)',
                                    }]
                                },
                                passengersBySeverity: {
                                    labels: apiResponse.passengersBySeverity.dates.map(date => {
                                    	function minTwoDigits(n) {
                                    		return (n < 10 ? '0' : '') + n;
                                    	}
                                    	return `${date.year}-${minTwoDigits(date.month)}-${minTwoDigits(date.day)}`
                                    }),
                                    series: ['Not Infected', 'Mild', 'Severe', 'Critical'],
                                    data: [
                                        apiResponse.passengersBySeverity.notInfected,
                                        apiResponse.passengersBySeverity.mild,
                                        apiResponse.passengersBySeverity.severe,
                                        apiResponse.passengersBySeverity.critical
                                    ],
                                    colors: [
                                    	{
        	                                backgroundColor: 'rgba(43, 155, 9, 0.76)',
        	                                borderColor: 'rgba(43, 155, 9, 0.76)',
                                    	},
                                    	{
                                    		backgroundColor: 'rgba(43, 123, 132, 0.76)',
        	                                borderColor: 'rgba(43, 123, 132, 0.76)',
                                    	},
                                    	{
                                    		backgroundColor: 'rgba(191, 156, 25, 0.76)',
        	                                borderColor: 'rgba(191, 156, 25, 0.76)',
                                    	},
                                    	{
                                    		backgroundColor: 'rgba(228, 0, 27, 0.82)',
        	                                borderColor: 'rgba(228, 0, 27, 0.82)',
                                    	}
                                    ]
                                }
                            }
                    	}, function(errorResponse) {
                    		$scope.loadingStatistics = false;
                    		
                    	}
                    );
                }
                getStatistics();
               
                
                $scope.chartOptions = {
                	legend: true
                }

                $scope.setActiveTab = function (name) {
                    /* Source: https://www.w3schools.com/howto/howto_js_tabs.asp */
                    var i, tabcontent, tabs;
                    tabcontent = document.getElementsByClassName("tabcontent");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }
                    tabs = document.getElementsByClassName("tablinks");
                    for (i = 0; i < tabs.length; i++) {
                        tabs[i].className = tabs[i].className.replace(" active", "");
                    }
                    document.getElementById(name).style.display = "block";
                    event.currentTarget.className += " active";

                    // fetch the R0 value on the first click to that tab
                    if (event.currentTarget.id === "rNaughtTab" && $scope.rNaughtValue === null) {
                        $http.get("/iTrust2/api/v1/diseasecontrol/rnaught")
                            .then(function(response) {
                            	$scope.loadingrNaught = false;
                                $scope.rNaughtValue = response.data;
                            	// set R0 message according to value
                            	if ($scope.rNaughtValue === -1) {
                            		$scope.rNaughtMessage = "Not Available";
                            		// if not available, also indicate so with the value rather than displaying -1
                            		$scope.rNaughtValue = "Error: Not Enough Data";
                            		$scope.color = 'black';
                            	} else if ($scope.rNaughtValue < 1) {
                                	$scope.rNaughtMessage = "Dying Out";
                                	$scope.rNaughtValue = $scope.rNaughtValue.toFixed(2);
                                	$scope.color = 'green';
                                } else if ($scope.rNaughtValue === 1) {
                                	$scope.rNaughtMessage = "Stable";
                                	$scope.rNaughtValue = $scope.rNaughtValue.toFixed(2);
                                	$scope.color = 'brown';
                                } else { // > 1
                                	$scope.rNaughtMessage = "Spreading";
                                	$scope.rNaughtValue = $scope.rNaughtValue.toFixed(2);
                                	$scope.color = 'red';
                                }
                            }
                        );
                    }
                }
            });
        </script>

        <!-- This div is the app -->
        <div ng-app="viewStatisticsApp" ng-controller="viewStatsCtrl">
            <!-- This is the page container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Everything is in this primary box. -->
                        <div class="panel panel-primary" style="width:100%">
                            <!-- This is the panel heading area -->
                            <div class="panel-heading">
                                <h3 id="viewstatsheading">View Statistics</h3>
                            </div>
                            <div class="tab" style="height:50px;">
                                <button id="totalInfectionsTab" class="tablinks" ng-click="setActiveTab('infectedPatientsPerDay')">Infected Patients Per Day</button>
                                <button id="newInfectionsPerDayTab" class="tablinks" ng-click="setActiveTab('newInfectionsPerDayPerDay')">New Infections Per Day</button>
                                <button id="severitiesTab" class="tablinks" ng-click="setActiveTab('patientsBySeverity')">Patients By Severity</button>
                                <button id="rNaughtTab" class="tablinks" ng-click="setActiveTab('rNaught')">Reproductive Number (R<sub>0</sub>)</button>
                            </div>

                            <div ng-show="dataLoaded" id="infectedPatientsPerDay" class="tabcontent" style='width: 80%; height: 60%;'>
                            	<h3>Total Infections Per Day</h3>
                                <canvas
                                    id="infectedPatientsPerDayPlot"
                                    class="chart chart-line"
                                    chart-data="plotData.totalInfectionsPerDay.data"
                                    chart-labels="plotData.totalInfectionsPerDay.labels"
                                    chart-series="plotData.totalInfectionsPerDay.series"
                                    chart-colors="plotData.totalInfectionsPerDay.colors">
                                </canvas>
                            </div>
                            <div ng-show="dataLoaded" id="newInfectionsPerDayPerDay" class="tabcontent" style='width: 80%; height: 60%;'>
                            	<h3>New Infections Per Day</h3>
                                <canvas
                                    id="newInfectionsPerDayPerDayPlot"
                                    class="chart chart-line"
                                    chart-data="plotData.newInfectionsPerDay.data"
                                    chart-labels="plotData.newInfectionsPerDay.labels"
                                    chart-series="plotData.newInfectionsPerDay.series"
                                    chart-colors="plotData.newInfectionsPerDay.colors">
                                </canvas>
                            </div>
                            <div ng-show="dataLoaded" id="patientsBySeverity" class="tabcontent" style='width: 80%; height: 60%;'>
                            	<h3>Number of Patients by Symptom Severity</h3>
                                <canvas
                                    id="patientsBySeverityPlot"
                                    class="chart chart-line"
                                    chart-data="plotData.passengersBySeverity.data"
                                    chart-labels="plotData.passengersBySeverity.labels"
                                    chart-series="plotData.passengersBySeverity.series"
                                    chart-colors="plotData.passengersBySeverity.colors">
                                </canvas>
                            </div>
                            <div ng-show="dataLoaded" id="rNaught" class="tabcontent" style='width: 80%; height: 60%;'>
                                <h3>COVID-19 R<sub>0</sub> Value</h3>
                                <div class="loader" ng-show="loadingrNaught" id="loaderSpinner"></div>
                                <span id="rNaughtValueDisplay" ng-bind="rNaughtValue" style="font-weight:500;font-size:20px;color:{{color}};"></span>
                                <h3>Expected Disease Behavior in Population</h3>
                                <span id="rNaughtMessageDisplay" ng-bind="rNaughtMessage" style=""></span>
                            </div>
							
                            <div id="noDataMessage" ng-show="!dataLoaded && !loadingStatistics" style="text-align:center;padding:100px 100px;">
                                
                                Please upload passenger data before attempting to load statistics:
                                <a href="/iTrust2/diseasecontrol/uploadPassengerData" id="uploadPassengerData">Upload Patient Data</a>
                            </div>
                            <div id="loadingDiv" ng-if="loadingStatistics" style="text-align:center;padding:100px 100px;">
									<table id="loadingTable" align="center" >
									    	<tr></tr>
									        <tr id="loadingRow">
									            <td>Loading Data &ensp;</td>
									            <td>
									                <div class="loader" id="loaderSpinner"></div>
									            </td>
									        </tr>
									</table>
							</div>
                            
                                
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>