<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Admin Home</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/iTrust2/admin/addHospital" id="addhospital">Add
									Hospital</a></li>
							<li><a href="/iTrust2/admin/addUser" id="addnewuser">Add
									User</a></li>
							<li><a href="/iTrust2/admin/deleteUser" id="deleteuser">Delete
									User</a></li>
							<li><a href="/iTrust2/admin/deleteHospital"
								id="deletehospital">Delete Hospital</a></li>
						</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/iTrust2/personnel/editDemographics"
								id="editdemographics">Edit Demographics</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
		Welcome to iTrust2 - Admin
	</div>
</body>
</html>