<!-- Reused form elements and general outline that was created by myself (Eric Starner) during my Guided Project -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Blood Sugar Diary</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<div class="container">

			<script th:inline="javascript">
            /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
            /*<![CDATA[*/
            var app = angular.module("bloodSugarApp", []);
            app.controller('bloodSugarCtrl', function ($scope, $http) {
            	$scope.wakingUpValue;
            	$scope.firstMealValue;
            	$scope.secondMealValue;
            	$scope.thirdMealValue;
            	
            	// Special boolean variable that controls the disabling of the submit button
            	$scope.isValid = ($scope.wakingUpValue != null || $scope.firstMealValue != null || $scope.secondMealValue != null || $scope.thirdMealValue != null);
            	
            	// BloodSugarEntry object and accompanying copy for when its being edited
            	self.bloodSugarEntry = { fastingLevel:'', firstLevel:'', secondLevel:'', thirdLevel:'' } ;
            	self.currentEntry = { fastingLevel:'', firstLevel:'', secondLevel:'', thirdLevel:'' } ;
            	
            	// Function used to update whether the form is valid each iteration
				$scope.updateValid = function updateValid() {
					$scope.isValid = ($scope.wakingUpValue != null || $scope.firstMealValue != null || $scope.secondMealValue != null || $scope.thirdMealValue != null);
            	}
            	
            	// Setting the two functions to be part of this script
            	self.submit = submit;
            	self.updateValid = $scope.updateValid;
            
            	
            	// Code snippet referenced from: https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
            	// Adapted from examples on the Querystring homepage.
            	const urlParams = new URLSearchParams(window.location.search);
				self.officeVisitId = urlParams.get('id');
				
				// Sets the current date
				var dt = new Date();
            	document.getElementById("date").innerHTML = dt.toLocaleDateString();
            	$scope.date = dt.toLocaleDateString();
            	
            	// Get the current entries if this day has valid entries associated with it
            	getBloodSugarEntry();
            	
                
            	// Load the specific survey into the form data
            	function getBloodSugarEntry() {
            		$http.get("/iTrust2/api/v1/bloodSugarDiaries/patient/currentDay")
                    .then(
                   		function(response) {
                            currentEntry= response.data;
							
                            // Setting the field values
                            $scope.wakingUpValue = currentEntry.fastingLevel;
                        	$scope.firstMealValue = currentEntry.firstLevel;
                        	$scope.secondMealValue = currentEntry.secondLevel;
                        	$scope.thirdMealValue = currentEntry.thirdLevel;
                        	
                        	// Calling updater
                        	updateValid();                         
                            
                        },
                        // We ignore an error response

              		 );
            	}
			
                
                
                // Small function used to create the pop up menu upon clicking the submit button.
                $scope.clicked = function clicked(e)
                {
                	if ( $scope.wakingUpValue == null && $scope.firstMealValue == null && 
            			$scope.secondMealValue == null && $scope.thirdMealValue == null ) {
                		// Error State
                		$scope.submissionErrorMessage = "Error in Diary Submission: At least one field must be filled out."
                		$scope.message = "";
   							$scope.failure = true;
                	} else {
                  		// Success State
                    	submit();
                	}
                }
                
                // Add the satisfaction survey to the database
                function addEntry(entry) {
                	$scope.success = false;
            		$scope.failure = false;	
            		
                    $http.post("/iTrust2/api/v1/bloodSugarDiaries/patient", entry).then(
                   		function success(response) {
   							$scope.message = "Entry Added Successfully"
   							$scope.submissionErrorMessage = ""
   							$scope.success = true;
   							
   							// Reset the state of the survey and return to the previous window
   		                    $scope.reset();
   		                   // window.location.href = "/iTrust2/patient/officeVisit/viewOfficeVisits";
   							
   						}, function failure(rejection) {
   							$scope.submissionErrorMessage = "Error in Diary Submission"
   							$scope.message = ""
   							$scope.failure = true;
   						}
   					);	
                }
                
                // Function called when the submit button is pressed
                function submit()
                {
                	// Set value for the object that is passed to backend
                	bloodSugarEntry.fastingLevel = $scope.wakingUpValue;
                	bloodSugarEntry.firstLevel = $scope.firstMealValue;
                	bloodSugarEntry.secondLevel = $scope.secondMealValue;
                	bloodSugarEntry.thirdLevel = $scope.thirdMealValue;
                	
                	// Set currentEntry object values back to blank
                	currentEntry = { fastingLevel:'', firstLevel:'', secondLevel:'', thirdLevel:'' } ;
                	
                	
                	// Submit data to database
                	addEntry(bloodSugarEntry);
          			
                }
                
                // Reset all fields to original clean state
                $scope.reset = function reset() {	
                 	if ( currentEntry.fastingLevel == '' && currentEntry.firstLevel == '' && currentEntry.secondLevel == ''
            			&& currentEntry.thirdLevel == '' ) {
                 	// Reset values back to blank and set pristine
                    	$scope.wakingUpValue = null;
                     	$scope.firstMealValue = null;
                     	$scope.secondMealValue = null;
                     	$scope.thirdMealValue = null;
                     	
                     	// Calling updater
                     	updateValid();
                     	
                 		$scope.bloodSugarForm.$setPristine(); //reset Form
                 	} else {
                 	// Reset values back to blank and set pristine
                    	$scope.wakingUpValue = currentEntry.fastingLevel;
                     	$scope.firstMealValue = currentEntry.firstLevel;
                     	$scope.secondMealValue = currentEntry.secondLevel;
                     	$scope.thirdMealValue = currentEntry.thirdLevel;
                 	}
                	
                }
                
              	// Function for dealing with a CSV uplaod
                function submitCSV(file) {
                	$http.post("/iTrust2/api/v1/bloodSugarDiaries/patient/csv", file).then(
                       		function success(response) {
       							$scope.message = "Successfully Diary Submission"
       							$scope.submissionErrorMessage = ""
       							$scope.success = true;

       		                    $scope.reset();
       		                   
       							
       						}, function failure(rejection) {
       							$scope.submissionErrorMessage = "Error in Diary Submission"
       							$scope.message = ""
       							$scope.failure = true;
       						}
       					);	
                }
                
                
                // Function used to read a .csv file submitted by the user
                $scope.getFile = function() {
                    var f = document.getElementById('file').files[0],
                    r = new FileReader();
                	r.readAsText(f);
                	
                	r.onload = function(e) {
                	    var rawLog = r.result;
                	   // console.log(rawLog);
                	    submitCSV(rawLog);
                	};
                	
               
                  
                }
                
             
            });
            /*]]>*/
          	</script>
          
			<br>
			<div ng-app="bloodSugarApp" ng-controller="bloodSugarCtrl">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 align="center">Blood Sugar Diary</h3>
								</div>
								
								<section>
								<p style="font-size:20px; padding-left: 30px; line-height: 2;"><strong>Date: </strong><span id="date"></span></p>
								</section>
								
								<section>
								<p style="font-family:helvetica; font-color: rgba(30, 30, 30, .8); padding-left: 30px;">Please fill out the provided form to log your blood sugar levels for the day, or select a 
								<br>.csv file with appropriate data and press "<strong>Upload CSV</strong>" to record a log of today or any <br>
								previous day. Note that the form must have at least one completed field entry to be valid.</p>
								<br>
								</section>
								
								<form style="padding-left: 30px;">
								  <span style="line-height: 2;"><strong>Select a file: </strong></span><input style="line-height: 2;" type="file" name="fileChoice" id="file" value="Browse" accept=".csv" />
								  <br>
								  <button type="submit" name="submitCSVFile" ng-click="getFile()" class="btn btn-md btn-primary">Upload CSV</button>
								</form>
																
								
								<form ng-submit="bloodSugarCtrl.submit()" name="bloodSugarForm">
								
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">Blood Sugar Tracking Form</h4>
										</div>
										<div class="panel-body">
										
										<div class="col-md-5">
											<div class="form-group">
												<label for="wakingUp">Blood Sugar Level After Waking Up:</label> <br>
												<input class="form-control" pattern="\d*" 
													id="wakingUp" type="number" min="0" step="1" ng-change="updateValid()" style='display: inline-block; width: 80px;' ng-model="wakingUpValue" name="wakingUpField"
												 /><span style="padding-left: 5px; display: inline-block; color: rgba(20,20,20,.5);">mg/dL</span>
											<div style="color: red;" ng-show="bloodSugarForm.wakingUpField.$dirty">
												<span ng-show="bloodSugarForm.wakingUpField.$error.min">Error: Value must be non-negative. </span>
												<span ng-if="wakingUpValue % 1 != 0 && wakingUpValue > -1">Error: The value must be 
													an integer. </span>
												<span style="color: #FFC718;" ng-if="wakingUpValue > 400">Warning: Value is higher than expected and requires immediate medical attention. Please verify value. </span>
												<span ng-show="bloodSugarForm.wakingUpField.$invalid">Error: Value is invalid.</span>
											</div>		
											</div>
						
											<div class="form-group">
												<label for="firstMeal">Blood Sugar Level After The First Meal:</label> <br>
												<input class="form-control" pattern="\d*"
													id="firstMeal" type="number" min="0" step="1" ng-change="updateValid()" style='display: inline-block; width: 80px;' ng-model="firstMealValue" name="firstMealField"
												 /><span style="padding-left: 5px; display: inline-block; color: rgba(20,20,20,.5);">mg/dL</span>
											<div style="color: red;" ng-show="bloodSugarForm.firstMealField.$dirty">
												<span ng-show="bloodSugarForm.firstMealField.$error.min">Error: Value must be non-negative. </span>
												<span ng-if="firstMealValue % 1 != 0 && firstMealValue > -1">Error: The value must be 
													an integer. </span>
												<span style="color: #FFC718;" ng-if="firstMealValue > 400">Warning: Value is higher than expected and requires immediate medical attention. Please verify value. </span>
												<span ng-show="bloodSugarForm.firstMealField.$invalid">Error: Value is invalid.</span>
											</div>
											</div>	
											
											<div class="form-group">
												<label for="secondMeal">Blood Sugar Level After The Second Meal:</label> <br>
												<input class="form-control" pattern="\d*"
													id="secondMeal" type="number" min="0" step="1" ng-change="updateValid()" style='display: inline-block; width: 80px;' ng-model="secondMealValue" name="secondMealField"
													 /><span style="padding-left: 5px; display: inline-block; color: rgba(20,20,20,.5);">mg/dL</span>
											<div style="color: red;" ng-show="bloodSugarForm.secondMealField.$dirty">
												<span ng-show="bloodSugarForm.secondMealField.$error.min">Error: Value must be non-negative. </span>
												<span ng-if="secondMealValue % 1 != 0 && secondMealValue > -1">Error: The value must be 
													an integer. </span>
												<span style="color: #FFC718;" ng-if="secondMealValue > 400">Warning: Value is higher than expected and requires immediate medical attention. Please verify value. </span>
												<span ng-show="bloodSugarForm.secondMealField.$invalid">Error: Value is invalid.</span>
											</div>	
											</div>
											
											<div class="form-group">
												<label for="thirdMeal">Blood Sugar Level After The Third Meal:</label> <br>
												<input class="form-control" pattern="\d*"
													id="thirdMeal" type="number" min="0" step="1" ng-change="updateValid()" style='display: inline-block; width: 80px;' ng-model="thirdMealValue" name="thirdMealField"
													 /><span style="padding-left: 5px; display: inline-block; color: rgba(20,20,20,.5);">mg/dL</span>
											<div style="color: red;" ng-show="bloodSugarForm.thirdMealField.$dirty">
												<span ng-show="bloodSugarForm.thirdMealField.$error.min">Error: Value must be non-negative. </span>
												<span ng-if="thirdMealValue % 1 != 0 && thirdMealValue > -1">Error: The value must be 
													an integer. </span>
												<span style="color: #FFC718;" ng-if="thirdMealValue > 400">Warning: Value is higher than expected and requires immediate medical attention. Please verify value. </span>
												<span ng-show="bloodSugarForm.thirdMealField.$invalid">Error: Value is invalid.</span>
											</div>	
											</div>
												
										  </div>
										</div>	
										
										<div class="form-actions" align="right" style='padding-right: 20px'>
											<button type="submit" name="submitForm" class="btn btn-lg btn-primary" 
												ng-click="clicked(event)" ng-disabled="!isValid || (bloodSugarForm.$invalid || bloodSugarForm.$error.min)" >Submit</button>
											<button type="button" name="resetForm" ng-click="reset()"
												class="btn btn-warning btn-lg"
												ng-disabled="bloodSugarForm.$pristine">Reset</button>
												
										</div>
					
										<div class="form-group">
											<div name="success" class="text-success" style="white-space: pre;">{{message}}</div>
											<div name="errorMsg" class="text-danger" style="white-space: pre;">{{errorMsg}}</div>
										</div>
												
									</div>

									
									<div>
										
									</div>
								</form>
								<div style="color: red;" ng-show="failure">{{submissionErrorMessage}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>